body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1536px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:377px;
  display:flex;
  transition:none;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:377px;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:377px;
  width:1202px;
  height:318px;
  display:flex;
  transition:none;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:318px;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:0px;
  width:334px;
  height:377px;
  display:flex;
  transition:none;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:377px;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:353px;
  width:99px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:451px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u28 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:294px;
  width:30px;
  height:40px;
  display:flex;
  transition:none;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:713px;
  width:519px;
  height:266px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:726px;
  width:108px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:726px;
  width:34px;
  height:25px;
  display:flex;
  transition:none;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:785px;
  width:65px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u33 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(51, 51, 51, 0.4666666666666667);
  text-align:left;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:771px;
  width:300px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(51, 51, 51, 0.4666666666666667);
  text-align:left;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FF0000;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:839px;
  width:117px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FF0000;
}
#u35 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:866px;
  width:52px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u36 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u37 label {
  left:0px;
  width:100%;
  height:100%;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:866px;
  width:43px;
  height:15px;
  display:flex;
  transition:none;
}
#u37 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u37_img.selected {
}
#u37.selected {
}
#u37_img.disabled {
}
#u37.disabled {
}
#u37_img.selected.error {
}
#u37.selected.error {
}
#u37_img.selected.hint {
}
#u37.selected.hint {
}
#u37_img.selected.error.hint {
}
#u37.selected.error.hint {
}
#u37_img.mouseOver.selected {
}
#u37.mouseOver.selected {
}
#u37_img.mouseOver.selected.error {
}
#u37.mouseOver.selected.error {
}
#u37_img.mouseOver.selected.hint {
}
#u37.mouseOver.selected.hint {
}
#u37_img.mouseOver.selected.error.hint {
}
#u37.mouseOver.selected.error.hint {
}
#u37_img.mouseDown.selected {
}
#u37.mouseDown.selected {
}
#u37_img.mouseDown.selected.error {
}
#u37.mouseDown.selected.error {
}
#u37_img.mouseDown.selected.hint {
}
#u37.mouseDown.selected.hint {
}
#u37_img.mouseDown.selected.error.hint {
}
#u37.mouseDown.selected.error.hint {
}
#u37_img.mouseOver.mouseDown.selected {
}
#u37.mouseOver.mouseDown.selected {
}
#u37_img.mouseOver.mouseDown.selected.error {
}
#u37.mouseOver.mouseDown.selected.error {
}
#u37_img.mouseOver.mouseDown.selected.hint {
}
#u37.mouseOver.mouseDown.selected.hint {
}
#u37_img.mouseOver.mouseDown.selected.error.hint {
}
#u37.mouseOver.mouseDown.selected.error.hint {
}
#u37_img.focused.selected {
}
#u37.focused.selected {
}
#u37_img.focused.selected.error {
}
#u37.focused.selected.error {
}
#u37_img.focused.selected.hint {
}
#u37.focused.selected.hint {
}
#u37_img.focused.selected.error.hint {
}
#u37.focused.selected.error.hint {
}
#u37_img.selected.disabled {
}
#u37.selected.disabled {
}
#u37_img.selected.hint.disabled {
}
#u37.selected.hint.disabled {
}
#u37_img.selected.error.disabled {
}
#u37.selected.error.disabled {
}
#u37_img.selected.error.hint.disabled {
}
#u37.selected.error.hint.disabled {
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:30px;
  white-space:nowrap;
  text-transform:none;
}
#u37_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u38 label {
  left:0px;
  width:100%;
  height:100%;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:866px;
  width:43px;
  height:15px;
  display:flex;
  transition:none;
}
#u38 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u38_img.selected {
}
#u38.selected {
}
#u38_img.disabled {
}
#u38.disabled {
}
#u38_img.selected.error {
}
#u38.selected.error {
}
#u38_img.selected.hint {
}
#u38.selected.hint {
}
#u38_img.selected.error.hint {
}
#u38.selected.error.hint {
}
#u38_img.mouseOver.selected {
}
#u38.mouseOver.selected {
}
#u38_img.mouseOver.selected.error {
}
#u38.mouseOver.selected.error {
}
#u38_img.mouseOver.selected.hint {
}
#u38.mouseOver.selected.hint {
}
#u38_img.mouseOver.selected.error.hint {
}
#u38.mouseOver.selected.error.hint {
}
#u38_img.mouseDown.selected {
}
#u38.mouseDown.selected {
}
#u38_img.mouseDown.selected.error {
}
#u38.mouseDown.selected.error {
}
#u38_img.mouseDown.selected.hint {
}
#u38.mouseDown.selected.hint {
}
#u38_img.mouseDown.selected.error.hint {
}
#u38.mouseDown.selected.error.hint {
}
#u38_img.mouseOver.mouseDown.selected {
}
#u38.mouseOver.mouseDown.selected {
}
#u38_img.mouseOver.mouseDown.selected.error {
}
#u38.mouseOver.mouseDown.selected.error {
}
#u38_img.mouseOver.mouseDown.selected.hint {
}
#u38.mouseOver.mouseDown.selected.hint {
}
#u38_img.mouseOver.mouseDown.selected.error.hint {
}
#u38.mouseOver.mouseDown.selected.error.hint {
}
#u38_img.focused.selected {
}
#u38.focused.selected {
}
#u38_img.focused.selected.error {
}
#u38.focused.selected.error {
}
#u38_img.focused.selected.hint {
}
#u38.focused.selected.hint {
}
#u38_img.focused.selected.error.hint {
}
#u38.focused.selected.error.hint {
}
#u38_img.selected.disabled {
}
#u38.selected.disabled {
}
#u38_img.selected.hint.disabled {
}
#u38.selected.hint.disabled {
}
#u38_img.selected.error.disabled {
}
#u38.selected.error.disabled {
}
#u38_img.selected.error.hint.disabled {
}
#u38.selected.error.hint.disabled {
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:30px;
  white-space:nowrap;
  text-transform:none;
}
#u38_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:899px;
  width:167px;
  height:52px;
  display:flex;
  transition:none;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:52px;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:781px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u40 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
